post{
    width: 100%;
    margin: 0px 25px 40px 25px;
}

.post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.post-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

.post-cat{
font-size: 14px;
color: #07498A;
line-height: 20px;
margin-top: 15px;
margin-right: 10px;
}

.post-title{
    margin-top: 10px;
    font-weight: 500;
    font-size: 24px;
}

.post-date{
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    color: #696969;
}

.post-description{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
}