.nav {
    width: 100%;
    height: 110px;
    background-color: #004A47;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.nav-left,.nav-right{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-center{
    flex: 6;
}

.logo-item{
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
}

.logo-image {
    height: 100px;
}